In this task you should use Pandas to answer a few questions about the adult dataset. Read the
data and answer the following questions:

In [13]:
from google.colab import files
uploaded = files.upload()

Saving adult_data.csv to adult_data (4).csv

In [14]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [18]:
import pandas as pd

# Load data into dataframe
df = pd.read_csv('adult_data (4).csv')

# 1) Rows and columns
print(df.shape)

(32561, 15)

Display the following:
a) All the columns
b) First and last 20 records
c) Dimension of the dataset
d) Statistics for the dataset

In [19]:
# 2) Display columns, head, tail, and info
print(df.columns)
print(df.head(20))
print(df.tail(20))
print(df.info())

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')
    age         workclass  fnlwgt     education  education-num  \
0    39         State-gov   77516     Bachelors             13
1    50  Self-emp-not-inc   83311     Bachelors             13
2    38           Private  215646       HS-grad              9
3    53           Private  234721          11th              7
4    28           Private  338409     Bachelors             13
5    37           Private  284582       Masters             14
6    49           Private  160187           9th              5
7    52  Self-emp-not-inc  209642       HS-grad              9
8    31           Private   45781       Masters             14
9    42           Private  159449     Bachelors             13
10   37           Private  280464  Some-college             10
11   30         State-gov  141297     Bachelors             13
12   23           Private  122272     Bachelors             13
13   32           Private  205019    Assoc-acdm             12
14   40           Private  121772     Assoc-voc             11
15   34           Private  245487       7th-8th              4
16   25  Self-emp-not-inc  176756       HS-grad              9
17   32           Private  186824       HS-grad              9
18   38           Private   28887          11th              7
19   43  Self-emp-not-inc  292175       Masters             14

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
5      Married-civ-spouse    Exec-managerial           Wife
6   Married-spouse-absent      Other-service  Not-in-family
7      Married-civ-spouse    Exec-managerial        Husband
8           Never-married     Prof-specialty  Not-in-family
9      Married-civ-spouse    Exec-managerial        Husband
10     Married-civ-spouse    Exec-managerial        Husband
11     Married-civ-spouse     Prof-specialty        Husband
12          Never-married       Adm-clerical      Own-child
13          Never-married              Sales  Not-in-family
14     Married-civ-spouse       Craft-repair        Husband
15     Married-civ-spouse   Transport-moving        Husband
16          Never-married    Farming-fishing      Own-child
17          Never-married  Machine-op-inspct      Unmarried
18     Married-civ-spouse              Sales        Husband
19               Divorced    Exec-managerial      Unmarried

                  race     sex  capital-gain  capital-loss  hours-per-week  \
0                White    Male          2174             0              40
1                White    Male             0             0              13
2                White    Male             0             0              40
3                Black    Male             0             0              40
4                Black  Female             0             0              40
5                White  Female             0             0              40
6                Black  Female             0             0              16
7                White    Male             0             0              45
8                White  Female         14084             0              50
9                White    Male          5178             0              40
10               Black    Male             0             0              80
11  Asian-Pac-Islander    Male             0             0              40
12               White  Female             0             0              30
13               Black    Male             0             0              50
14  Asian-Pac-Islander    Male             0             0              40
15  Amer-Indian-Eskimo    Male             0             0              45
16               White    Male             0             0              35
17               White    Male             0             0              40
18               White    Male             0             0              50
19               White  Female             0             0              45

   native-country salary
0   United-States  <=50K
1   United-States  <=50K
2   United-States  <=50K
3   United-States  <=50K
4            Cuba  <=50K
5   United-States  <=50K
6         Jamaica  <=50K
7   United-States   >50K
8   United-States   >50K
9   United-States   >50K
10  United-States   >50K
11          India   >50K
12  United-States  <=50K
13  United-States  <=50K
14              ?   >50K
15         Mexico  <=50K
16  United-States  <=50K
17  United-States  <=50K
18  United-States  <=50K
19  United-States   >50K
       age         workclass  fnlwgt     education  education-num  \
32541   41                 ?  202822       HS-grad              9
32542   72                 ?  129912       HS-grad              9
32543   45         Local-gov  119199    Assoc-acdm             12
32544   31           Private  199655       Masters             14
32545   39         Local-gov  111499    Assoc-acdm             12
32546   37           Private  198216    Assoc-acdm             12
32547   43           Private  260761       HS-grad              9
32548   65  Self-emp-not-inc   99359   Prof-school             15
32549   43         State-gov  255835  Some-college             10
32550   43  Self-emp-not-inc   27242  Some-college             10
32551   32           Private   34066          10th              6
32552   43           Private   84661     Assoc-voc             11
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32556   27           Private  257302    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

           marital-status         occupation    relationship  \
32541           Separated                  ?   Not-in-family
32542  Married-civ-spouse                  ?         Husband
32543            Divorced     Prof-specialty       Unmarried
32544            Divorced      Other-service   Not-in-family
32545  Married-civ-spouse       Adm-clerical            Wife
32546            Divorced       Tech-support   Not-in-family
32547  Married-civ-spouse  Machine-op-inspct         Husband
32548       Never-married     Prof-specialty   Not-in-family
32549            Divorced       Adm-clerical  Other-relative
32550  Married-civ-spouse       Craft-repair         Husband
32551  Married-civ-spouse  Handlers-cleaners         Husband
32552  Married-civ-spouse              Sales         Husband
32553       Never-married       Tech-support   Not-in-family
32554  Married-civ-spouse    Exec-managerial         Husband
32555       Never-married    Protective-serv   Not-in-family
32556  Married-civ-spouse       Tech-support            Wife
32557  Married-civ-spouse  Machine-op-inspct         Husband
32558             Widowed       Adm-clerical       Unmarried
32559       Never-married       Adm-clerical       Own-child
32560  Married-civ-spouse    Exec-managerial            Wife

                     race     sex  capital-gain  capital-loss  hours-per-week  \
32541               Black  Female             0             0              32
32542               White    Male             0             0              25
32543               White  Female             0             0              48
32544               Other  Female             0             0              30
32545               White  Female             0             0              20
32546               White  Female             0             0              40
32547               White    Male             0             0              40
32548               White    Male          1086             0              60
32549               White  Female             0             0              40
32550               White    Male             0             0              50
32551  Amer-Indian-Eskimo    Male             0             0              40
32552               White    Male             0             0              45
32553  Asian-Pac-Islander    Male             0             0              11
32554               White    Male             0             0              40
32555               White    Male             0             0              40
32556               White  Female             0             0              38
32557               White    Male             0             0              40
32558               White  Female             0             0              40
32559               White    Male             0             0              20
32560               White  Female         15024             0              40

      native-country salary
32541  United-States  <=50K
32542  United-States  <=50K
32543  United-States  <=50K
32544  United-States  <=50K
32545  United-States   >50K
32546  United-States  <=50K
32547         Mexico  <=50K
32548  United-States  <=50K
32549  United-States  <=50K
32550  United-States  <=50K
32551  United-States  <=50K
32552  United-States  <=50K
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32556  United-States  <=50K
32557  United-States   >50K
32558  United-States  <=50K
32559  United-States  <=50K
32560  United-States   >50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

How many men and women (sex feature) are represented in this dataset

In [20]:
print(df['sex'].value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

What is the average age (age feature) of women?

In [21]:
print(df[df['sex']=='Female']['age'].mean())

36.85823043357163

What is the percentage of German citizens (native-country feature)?

In [22]:
print(df[df['native-country']=='Germany'].shape[0] / df.shape[0] * 100)

0.42074874850281013

What are the mean and standard deviation of age for those who earn more than 50K per year
(salary feature) and those who earn less than 50K per year

In [23]:
print(df[df['salary']=='>50K']['age'].mean())
print(df[df['salary']=='>50K']['age'].std())
print(df[df['salary']=='<=50K']['age'].mean())
print(df[df['salary']=='<=50K']['age'].std())

44.24984058155847
10.519027719851826
36.78373786407767
14.02008849082488

Is it true that people who earn more than 50K have at least high school education?
(Education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate
feature

In [24]:
print(df[(df['salary']=='>50K') & (df['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))].shape[0] == df[df['salary']=='>50K'].shape[0])

False

Display age statistics for each race (race feature) and each gender (sex feature). Use
groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [25]:
print(df.groupby(['race','sex'])['age'].describe())
print(df[(df['race']=='Amer-Indian-Eskimo') & (df['sex']=='Male')]['age'].max())

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
82

Among whom is the proportion of those who earn a lot (>50K) greater: married or single men
(marital-status feature)? Consider as married those who have a marital-status starting with
Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest
are considered bachelors.

In [26]:
print(df['hours-per-week'].max())
print(df[df['hours-per-week']==df['hours-per-week'].max()].shape[0])
print(df[(df['hours-per-week']==df['hours-per-week'].max()) & (df['salary']=='>50K')].shape[0] / df[df['hours-per-week']==df['hours-per-week'].max()].shape[0])

99
85
0.29411764705882354

What is the maximum number of hours a person works per week (hours-per-week feature)?
How many people work such a number of hours, and what is the percentage of those who
earn a lot (>50K) among them?

In [27]:
print(df.groupby(['native-country','salary'])['hours-per-week'].mean())
print(df[(df['native-country']=='Japan') & (df['salary']=='<=50K')]['hours-per-week'].mean())
print(df[(df['native-country']=='Japan') & (df['salary']=='>50K')]['hours-per-week'].mean())

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64
41.0
47.958333333333336